#wrapper {
  position: relative;

  #home {
    height: 100vh;

    .fluid__container {
      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100vh;

      canvas {
        width: 100%;
        height: 100%;
      }
    }

    .home__wrapper {
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;

      .home__content {
        pointer-events: none;
        user-select: none;

        .home__content--wrapper {
          text-align: center;

          img {
            width: 150px;
            height: auto;
          }

          p {
            // font-family: forum;
            margin-top: 10px;
            letter-spacing: 0.3em;
            // opacity: 0;
          }

          @media screen and (max-width: $screenXxsMax) {
            p {
              font-size: 15px;
            }
          }

          @media screen and (min-width: $screenXsMin) {
            img {
              width: 300px;
            }
            p {
              font-size: 20px;
            }
          }

          @media screen and (min-width: $screenSmMin) {
            img {
              width: 500px;
            }
          }

          @media screen and (min-width: $screenMdMin) {
            p {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
